@using FrontendTasks.Controllers
@model dynamic

@{
    if (Model.Tareas.Count > 0)
    {

        ViewData["Title"] = "Lista de Tareas";

        <h1>@ViewData["Title"]</h1>

        <p>Puedes ver, editar o incluso eliminar una tarea.</p>
        <br />
        <form action="Tareas" method="post">
            <div data-role="fieldcontain" class="ui-hide-label">
                <label style="font-weight:bold;">Estado:</label>
                <select name="state">
                    <option value="0"></option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="En Proceso">En Proceso</option>
                    <option value="Finalizada">Finalizada</option>
                </select>
                <label style="padding-left:15px; font-weight:bold;">Prioridad:</label>
                <select name="state">
                    <option value="0"></option>
                    <option value="Baja">Baja</option>
                    <option value="Media">Media</option>
                    <option value="Alta">Alta</option>
                </select>
                <label style="padding-left:15px; font-weight:bold;">Responsable:</label>
                <select name="person">
                    <option value="0"></option>
                    @{ foreach (var item in Model.Personas)

                        {
                            <option value="@item.idPeople">@item.namePeople</option>
                        }
                    }
                </select>

            </div>

            <div data-role="fieldcontain" class="ui-hide-label">
                <label style="font-weight:bold;">Rango de Fechas:</label>
                <input id="form1" type="date" name="fecinicio" placeholder="Fecha Inicio" />
                <input id="form1" type="date" name="fecfinal" placeholder="Fecha Final" />
                <a style="padding-left:25px;">
                    <button type="submit" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="top" title="Buscar Tarea">Reiniciar Filtros</button>
                </a>
            </div>
        </form>
        <br />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha Inicio</th>
                    <th>Descripcion</th>
                    <th>Responsable</th>
                    <th>Prioridad</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.Tareas)
                    {
                        <tr>
                            <td>@item.idTask</td>
                            <td>@item.fechaInicio</td>
                            <td>@item.description</td>
                            <td>@item.getNamePerson(Model.Personas)</td>
                            <td>@item.priority</td>
                            <td>@item.stateTask</td>
                            <td>
                                <form action="Eliminado" method="post" class="row clearfix">
                                    <a style="padding-left:15px;">
                                        <button type="button" id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#@item.modalViewTask()" data-controls-modal="#defaultModal" data-backdrop="static" data-keyboard="false" href="#" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Ver Tarea"><i class="fas fa-eye"></i></button>
                                    </a>
                                    @{ if (item.stateTask != "Finalizada")
                                        {
                                            <a style="padding-left:15px;">
                                                <button type="button" id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#@item.modalEditTask()" data-controls-modal="#defaultModal" data-backdrop="static" data-keyboard="false" href="#" class="btn btn-outline-warning" data-toggle="tooltip" data-placement="top" title="Editar Tarea"><i class="fas fa-edit"></i></button>
                                            </a>
                                        }
                                    }
                                    @{ if (item.stateTask != "En Proceso")
                                        {
                                            <a style="padding-left:15px;">
                                                <button type="submit" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="top" title="Eliminar Tarea"><i class="fas fa-trash-alt"></i></button>
                                                <input style="display:none" name="idTask" value="@item.idTask" />
                                            </a>
                                        }
                                    }

                                </form>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        foreach (var item in Model.Tareas)
        {
            <div class="modal fade" id="@item.modalViewTask()" tabindex="-1" role="dialog" style="display: none;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header modalCenterOption" *ngIf="this.mobSelected != ''">
                            <h4 id="defaultModalLabel1"> Ver Tarea</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row clearfix">
                                <div class="col-sm-12 noselect">
                                    <div style="font-weight:bold">ID Tarea:</div>
                                    <label>@item.idTask</label>
                                </div>
                                <div class="col-sm-12 noselect">
                                    <div style="font-weight:bold">Descripcion:</div>
                                    <label>@item.description</label>
                                </div>
                                <div class="col-sm-12 noselect">
                                    <div style="font-weight:bold">Estado:</div>
                                    <label>@item.stateTask</label>
                                </div>
                                <div class="col-sm-12 noselect">
                                    <div style="font-weight:bold">Prioridad:</div>
                                    <label>@item.priority</label>
                                </div>
                                <div class="col-sm-12 noselect">
                                    <div style="font-weight:bold">Fecha Inicio:</div>
                                    <label> @item.fechaInicio</label>
                                </div>
                                <div class="col-sm-12 noselect">
                                    <div style="font-weight:bold">Fecha Final: </div>
                                    <label>@item.fechaFinal</label>
                                </div>
                                <div class="col-sm-12 noselect">
                                    <div style="font-weight:bold">Persona:</div>
                                    <label>@item.getNamePerson(Model.Personas)</label>
                                </div>
                                <div class="col-sm-12 noselect">
                                    <div style="font-weight:bold">Notas:</div>
                                    <label>@item.notes</label>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>



            <div class="modal fade" id="@item.modalEditTask()" tabindex="-1" role="dialog" style="display: none;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header modalCenterOption" *ngIf="this.mobSelected != ''">
                            <h4 id="defaultModalLabel1"> Editar Tarea</h4>
                        </div>
                        <div class="modal-body">
                            <form action="Actualizado" method="post" class="row clearfix">
                                <div class="col-sm-12 noselect">
                                    <div style="font-weight:bold">ID Tarea:</div>
                                    <input readonly name="idTask" value="@item.idTask" />
                                </div>
                                <div class="col-sm-12 noselect">
                                    <div style="font-weight:bold">Descripcion:</div>
                                    <input id="form1" type="text" name="description" class="form-control" value="@item.description" />
                                </div>
                                <div class="col-sm-12 noselect">
                                    <div style="font-weight:bold">Estado:</div>
                                    <select name="state" class="form-control">
                                        @{
                                            if (item.stateTask == "En Proceso")
                                            {
                                                <option selected value="En Proceso">En Proceso</option>
                                                <option value="Pendiente">Pendiente</option>
                                                <option value="Finalizada">Finalizada</option>
                                            }
                                            else
                                            {
                                                <option value="En Proceso">En Proceso</option>
                                                <option selected value="Pendiente">Pendiente</option>
                                                <option value="Finalizada">Finalizada</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-12 noselect">
                                    <div style="font-weight:bold">Prioridad:</div>
                                    <select name="priority" class="form-control">
                                        @{

                                            if (item.stateTask == "Baja")
                                            {
                                                <option selected value="Baja">Baja</option>
                                                <option value="Media">Media</option>
                                                <option value="Alta">Alta</option>
                                            }
                                            else
                                            {
                                                if (item.stateTask == "Media")
                                                {
                                                    <option value="Baja">Baja</option>
                                                    <option selected value="Media">Media</option>
                                                    <option value="Alta">Alta</option>
                                                }
                                                else
                                                {
                                                    <option value="Baja">Baja</option>
                                                    <option value="Media">Media</option>
                                                    <option selected value="Alta">Alta</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-12 noselect">
                                    <div style="font-weight:bold">Fecha Inicio:</div>
                                    <input id="form1" type="date('d/m/Y')" name="fecinicio" class="form-control" value="@item.fechaInicio" />
                                </div>
                                <div class="col-sm-12 noselect">
                                    <div style="font-weight:bold">Fecha Final: </div>
                                    <input id="form1" type="date('d/m/Y')" name="fecfinal" class="form-control" value="@item.fechaFinal" />
                                </div>
                                <div class="col-sm-12 noselect">
                                    <div style="font-weight:bold">Persona:</div>
                                    <select name="person" class="form-control">
                                        @{ foreach (var item2 in Model.Personas)
                                            {
                                                if (item2.idPeople == item.idPeople)
                                                {
                                                    <option selected value="@item2.idPeople">@item2.namePeople</option>
                                                }
                                                else
                                                {
                                                    <option value="@item2.idPeople">@item2.namePeople</option>
                                                }

                                            }

                                        }
                                    </select>
                                </div>
                                <div class="col-sm-12 noselect">
                                    <div style="font-weight:bold">Notas:</div>
                                    <textarea id="form1" type="text" name="notes" class="form-control input-group-lg">@item.notes</textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal">Atrás</button>
                                    <button type="submit" class="btn btn-outline-primary waves-effect">Actualizar</button>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>

        }
    }
    else
    {
        <div class="text-center">
            <h2 class="display-4">No hay registro de tareas</h2>
            <p>¡Puedes crear una nueva tarea si lo deseas!</p>
        </div>

    }
}
